---
title: "Blog"
---

<!DOCTYPE html>
<html lang="en">

	{% include head.html %}

<body class="crumina-grid">

	{% include loader.html %}

    {% include header.html %}

<div class="content-wrapper">

	<!-- Stunning Header -->

	<div class="crumina-stunning-header crumina-stunning-header--small stunning-header--content-inline bg-black">
		<div class="container">
			<div class="stunning-header-content c-white custom-color">
				<div class="inline-items">
					<h4 class="stunning-header-title">Stay informed on our news or events!</h4>
				</div>
			</div>
		</div>
	</div>

	<!-- ... end Stunning Header -->


	<!-- Breadcrumbs -->

	<div class="container">
		<div class="row">
			<div class="breadcrumbs-wrap inline-items with-border">
				<a href="#" class="btn btn--transparent btn--round">
					<svg class="utouch-icon utouch-icon-home-icon-silhouette"><use xlink:href="#utouch-icon-home-icon-silhouette"></use></svg>
				</a>

				<ul class="breadcrumbs">
					<li class="breadcrumbs-item">
						<a href="index.html">Voila Cabs</a>
						<svg class="utouch-icon utouch-icon-media-play-symbol"><use xlink:href="#utouch-icon-media-play-symbol"></use></svg>
					</li>
					<li class="breadcrumbs-item active">
						<span>Blog</span>
						<svg class="utouch-icon utouch-icon-media-play-symbol"><use xlink:href="#utouch-icon-media-play-symbol"></use></svg>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<!-- ... end Breadcrumbs -->



	<!-- Blog posts-->

	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
				<main class="main">

					{% include blogpost-1.html %}

				</main>

				{% include pagination.html %}
				
			</div>


			<!-- Sidebar-->

			<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
				<aside aria-label="sidebar" class="sidebar sidebar-right">

					<aside class="widget w-about">
						<div class="site-logo">
							<a href="index.html" class="full-block"></a>
							<img src="{{ site.main-url }}/img/logo.png" alt="Utouch">
							<div class="logo-text">
								<div class="logo-title">Utouch</div>
								<div class="logo-sub-title">app startup</div>
							</div>
						</div>

						<p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est
							notare quam littera gothica, putamus parum claram, anteposuerit formas.
						</p>

						<a href="index.html" class="btn btn-border btn--with-shadow c-primary">
							read more
						</a>
					</aside>

					{% include postcategory.html %}

					{% include contactdetail.html %}

				</aside>
			</div>

			<!-- End Sidebar-->

		</div>
	</div>

	<!-- End Blog posts-->

</div>

<!-- Footer -->

{% include footer.html %}

<!-- End Footer -->


<!-- Send Message Popup -->

<div class="window-popup message-popup">
	<a href="#" class="popup-close js-popup-close cd-nav-trigger">
		<svg class="utouch-icon utouch-icon-cancel-1"><use xlink:href="#utouch-icon-cancel-1"></use></svg>
	</a>

	<div class="send-message-popup">
		<h5>Send a Message</h5>
		<p>Sed diam nonummy nibh euismod tincidunt ut laoreet dolore magnais.</p>
		<form class="contact-form" method="post" action="send_mail.php">
			<div class="with-icon">
				<input name="name" placeholder="Your Name" type="text" required="required">
				<svg class="utouch-icon utouch-icon-user"><use xlink:href="#utouch-icon-user"></use></svg>
			</div>

			<div class="with-icon">
				<input name="email" placeholder="Email Adress" type="text" required="required">
				<svg class="utouch-icon utouch-icon-message-closed-envelope-1"><use xlink:href="#utouch-icon-message-closed-envelope-1"></use></svg>
			</div>

			<div class="with-icon">
				<input class="with-icon" name="phone" placeholder="Phone Number" type="tel" required="required">
				<svg class="utouch-icon utouch-icon-telephone-keypad-with-ten-keys"><use xlink:href="#utouch-icon-telephone-keypad-with-ten-keys"></use></svg>
			</div>

			<div class="with-icon">
				<input class="with-icon" name="subject" placeholder="Subject" type="text" required="required">
				<svg class="utouch-icon utouch-icon-icon-1"><use xlink:href="#utouch-icon-icon-1"></use></svg>
			</div>

			<div class="with-icon">
				<textarea name="message" required="" placeholder="Your Message" style="height: 180px;"></textarea>
				<svg class="utouch-icon utouch-icon-edit"><use xlink:href="#utouch-icon-edit"></use></svg>
			</div>

			<button class="btn btn--green btn--with-shadow full-width">
				Send a Message
			</button>

		</form>
	</div>
</div>

<!-- Send Message Popup -->


<!-- Search Popup -->

<div class="search-popup search--dark">
	<a href="#" class="popup-close js-popup-close cd-nav-trigger">
		<svg class="utouch-icon utouch-icon-cancel-1"><use xlink:href="#utouch-icon-cancel-1"></use></svg>
	</a>

	<div class="search-full-screen">

		<div class="search-standard">
			<form id="search-header-1" name="form-search-header" method="post">
				<div class="typeahead__container">
					<div class="typeahead__field">

						<span class="typeahead__query">
							<input class="js-typeahead" name="utouch_posts[query]" placeholder="What are you looking for?" autocomplete="off" type="search" autofocus>
						</span>
						<button type="submit" class="form-icon">
							<svg class="utouch-icon utouch-icon-search"><use xlink:href="#utouch-icon-search"></use></svg>
						</button>
						<span class="close js-popup-clear-input form-icon">
							<svg class="utouch-icon utouch-icon-cancel-1"><use xlink:href="#utouch-icon-cancel-1"></use></svg>
						</span>

					</div>
				</div>
			</form>
		</div>

	</div>

</div>

<!-- ... end Search Popup -->

<!-- Used SVG-icons -->

{% include svgIcons.html %}

<!-- ... end Used SVG-icons -->


{% include scripts.html %}


</body>
</html>