<aside class="widget w-about">
    <div class="site-logo">
        <a href="index.html" class="full-block"></a>
        <img src="{{ site.main-url }}/img/mainlogovoila.png" alt="Voila Cabs">
    </div>

    <p>We love what we do and always try to improve expertise by building something with great Unique Selling Proposition, hence delivering better and smarter solutions to our clients and that’s the sole reason for our success.</p>

    <a href="{{ site.main-url }}" class="btn btn-border btn--with-shadow c-primary">
        know more
    </a>
</aside>